<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>JPTOURISM-東京觀光網</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="bookmark" href="favicon.ico"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/rwd.css"/>
  </head>
  <body>
    <div id="vue_all">
      <nav class="nav">
        <div class="container"><a class="logo" href=""><span>JP</span>TOURISM</a>
          <btn class="toggle">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
          </btn>
          <ul>
            <li><a class="attractions" href=""><span>東京</span>趣事</a>
              <div class="dash_line"></div>
            </li>
            <li><a class="food" href=""><span>東京</span>美食</a>
              <div class="dash_line"></div>
            </li>
            <li><a class="events" href=""><span>東京</span>魅力</a>
              <div class="dash_line"></div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="nav_phone">
        <ul>
          <li><a class="attractions" href=""><span>東京</span>趣事</a>
            <div class="dash_line"></div>
          </li>
          <li><a class="food" href=""><span>東京</span>美食</a>
            <div class="dash_line"></div>
          </li>
          <li><a class="events" href=""><span>東京</span>魅力</a>
            <div class="dash_line"></div>
          </li>
        </ul>
      </div>
      <section class="home">
        <div class="container">
          <div class="home_title_block"><img class="title_img" src="img/00_home/home_title.png" alt=""/><img class="slogn_img" src="img/00_home/home_slogn.png" alt=""/><img class="subtitle_img" src="img/00_home/home_subtitle.png" alt=""/></div><a class="btn" href=""><span>開始旅行</span></a><img class="arrow_down" src="img/00_home/arrow.png" alt=""/>
        </div>
      </section>
      <section class="section2">
        <h2 class="title">節慶祭典</h2>
        <div class="subtitle">為您介紹東京都內舉辦的幾個大型祭典，<br/>還在安排時間的您不妨參考。</div>
        <div class="container">
          <div class="timeline"></div>
          <div class="row" v-for="item in fes"> 
            <div class="col" data-aos="fade-up">
              <h3 class="subtitle">{{ item.name}}</h3>
              <h5 class="date">{{ item.date }}</h5>
              <p class="intro">{{item.intro}}</p>
            </div>
            <div class="col" data-aos="fade-up">
              <div class="cover"><img :src=" item.img_src " alt=""/></div>
            </div>
          </div>
        </div><img class="bottom" src="img/09-deco/fujiyama.svg" alt=""/><img class="phone" src="img/09-deco/fujiyama-2.png" alt=""/>
      </section>
      <section class="section3">
        <h2 class="title">橫丁商圈</h2>
        <p class="subtitle">讓我們一同前往小巷盡頭的另一個世界——萬眾矚目的橫丁吧！</p>
        <div class="container">
          <div class="card" v-for="yoko in yokos">
            <div class="cover">
              <div class="img" :style="'background-image:url(' + yoko.img_src + ')'"></div>
            </div>
            <div class="text_area">
              <div class="intro">{{ yoko.intro }}</div>
            </div>
            <div class="subtitle">{{ yoko.name }}</div>
          </div>
        </div>
      </section>
      <section_2 class="section3_2">
        <h2 class="title">橫丁商圈</h2>
        <p class="subtitle">讓我們一同前往小巷盡頭的另一個世界<br/>萬眾矚目的橫丁吧！</p>
        <div class="container">
          <div class="swiper-container" id="yoko">
            <div class="swiper-wrapper">
              <div class="swiper-slide" v-for="yoko in yokos">
                <div class="card"><img :src="yoko.img_src" alt=""/>
                  <div class="subtitle">{{ yoko.name }}</div>
                  <div class="intro">{{ yoko.intro }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section_2>
      <section class="section4">
        <h2 class="title">古蹟巡禮</h2>
        <div class="subtitle">難得來到東京一趟，您絕對不能錯過這些名勝古蹟！</div>
        <div class="swiper-container" id="history1">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="bg bg1" src="img/04_history/history1.jpg" alt=""/>
              <div class="text_area">
                <div class="subtitle">淺草雷門</div>
                <div class="intro"> 942年由平公雅創建，據說是在鎌倉時代後，才開始供奉風神和雷神的。<br/>聽說當時是為了保護寺院免受颱風、洪水、火災的危害，而把他們作為護法善神。後來，人們逐漸開始向他們祈求保佑風調雨順、天下太平以及五穀豐收。                      </div>
              </div>
            </div>
            <div class="swiper-slide"><img class="bg bg2" src="img/04_history/history2.jpg" alt=""/>
              <div class="text_area">
                <div class="subtitle">靖國神社</div>
                <div class="intro">建於1869年，此神社祭祀著從幕府末期到大東亞戰爭期間陣亡的246萬6千多位亡靈。 在神社境內的遊就館裡，展示有英靈遺物及相關歷史資料等。<br/>神社境內種有約500株櫻花樹，吸引了眾多參拜者。                           </div>
              </div>
            </div>
            <div class="swiper-slide"><img class="bg bg3" src="img/04_history/history3.jpg" alt=""/>
              <div class="text_area">
                <div class="subtitle">淺草寺</div>
                <div class="intro">創建於628年，是東京都內最古老的寺院。現世利益的「淺草觀音」為眾多信徒所信仰，每年有來自國內外約3000萬人到此參拜。</div>
              </div>
            </div>
            <div class="swiper-slide"><img class="bg bg4" src="img/04_history/history4.jpg" alt=""/>
              <div class="text_area">
                <div class="subtitle">明治神宮</div>
                <div class="intro"> 為悼念明治天皇與昭憲皇太后，於1920年創建的神社。在東京都心擴展開來的神宮森林，是在創建時由全國所進獻的約10萬株樹木組成，是一處人工樹林。<br/>每年初次參拜的人數為日本首位。</div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination swiper-pagination-white"></div>
          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-button-prev swiper-button-white"></div>
        </div>
      </section>
      <section class="section4_2">
        <h2 class="title">古蹟巡禮</h2>
        <div class="subtitle">難得來到東京一趟，您絕對不能錯過這些名勝古蹟！</div>
        <div class="swiper-container" id="history2">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card"><img class="bg bg1" src="img/04_history/history1.jpg" alt=""/>
                <div class="text_area">
                  <div class="subtitle">淺草雷門</div>
                  <div class="intro"> 942年由平公雅創建，據說是在鎌倉時代後，才開始供奉風神和雷神的。<br/>聽說當時是為了保護寺院免受颱風、洪水、火災的危害，而把他們作為護法善神。後來，人們逐漸開始向他們祈求保佑風調雨順、天下太平以及五穀豐收。                      </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card"><img class="bg bg2" src="img/04_history/history2.jpg" alt=""/>
                <div class="text_area">
                  <div class="subtitle">靖國神社</div>
                  <div class="intro">建於1869年，此神社祭祀著從幕府末期到大東亞戰爭期間陣亡的246萬6千多位亡靈。 在神社境內的遊就館裡，展示有英靈遺物及相關歷史資料等。<br/>神社境內種有約500株櫻花樹，吸引了眾多參拜者。                           </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card"><img class="bg bg3" src="img/04_history/history3.jpg" alt=""/>
                <div class="text_area">
                  <div class="subtitle">淺草寺</div>
                  <div class="intro">創建於628年，是東京都內最古老的寺院。現世利益的「淺草觀音」為眾多信徒所信仰，每年有來自國內外約3000萬人到此參拜。</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card"><img class="bg bg4" src="img/04_history/history4.jpg" alt=""/>
                <div class="text_area">
                  <div class="subtitle">明治神宮</div>
                  <div class="intro"> 為悼念明治天皇與昭憲皇太后，於1920年創建的神社。在東京都心擴展開來的神宮森林，是在創建時由全國所進獻的約10萬株樹木組成，是一處人工樹林。<br/>每年初次參拜的人數為日本首位。</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section5">
        <h2 class="title">日本必吃-拉麵比拚</h2>
        <div class="subtitle">東京拉麵一般按照味道或店名來分類。將為您介紹東京都內三大特色拉麵聚集地!!</div>
        <div class="container">
          <div class="card" v-for="ramen in ramens" data-aos="flip-left" data-aos-duration="800"><img class="img" :src="ramen.img_src" alt=""/>
            <div class="subtitle">{{ramen.name}}</div>
            <div class="intro">{{ramen.intro}}</div><a class="btn" :href="ramen.shop_href" target="_blank"><span>{{ramen.shop}}</span><img src="img/05_ramen/ramen_shop_arrow.png" alt=""/></a>
          </div>
        </div><img class="bottom" src="img/09-deco/city.svg" alt=""/>
      </section>
      <section class="section6">
        <h2 class="title">洋和菓子-甜點對決</h2>
        <div class="subtitle">老字號的傳統和菓子以及世界級的洋菓子，東京獨家美味甜點任君挑選。</div>
        <div class="container">
          <div class="col-xl"> 
            <div class="row name">
              <div class="col-sm">
                <div class="subtitle">和菓子</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm"><img src="img/07_sweet/sweet_ninkyo.jpg" alt=""/></div>
              <div class="col-sm">
                <div class="intro">人形燒</div>
                <div class="min">內包紅豆餡烤成的雞蛋糕，造型從文樂人形到七福神等傳統形狀到卡通人物，五花八門，不勝枚舉。</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm"><img src="img/07_sweet/sweet_anmitsu.jpg" alt=""/></div>
              <div class="col-sm">
                <div class="intro">餡蜜</div>
                <div class="min">蜜豆疊上紅豆餡一起食用，發源於東京的和菓子。冰涼享用，一股清涼感覺，超級熱銷的消暑聖品。</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm"><img src="img/07_sweet/sweet_daifuku.jpg" alt=""/></div>
              <div class="col-sm">
                <div class="intro">大福</div>
                <div class="min">將紅豆等內餡包在麻糬裡。口味種類相當多樣豐富，有的麵糰加入艾草，有的在內餡裡面放草莓。</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm img"><img src="img/07_sweet/sweet_yokan.jpg" alt=""/></div>
              <div class="col-sm">
                <div class="intro">羊羹</div>
                <div class="min">羊羹為一種將紅豆餡用寒天凝固的點心，柔軟可口的水羊羹在夏天冰冰的吃，是熱門的消暑聖品。</div>
              </div>
            </div>
          </div>
          <div class="col-xl">
            <div class="row name">
              <div class="col-sm">
                <div class="subtitle">洋菓子</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm"><img src="img/07_sweet/sweet_donut.jpg" alt=""/></div>
              <div class="col-sm">
                <div class="intro">甜甜圈</div>
                <div class="min">在東京能一次品嚐世界熱門甜甜圈店。還有最近相當受歡迎的夏威夷式炸甜甜圈的專賣店。</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm"><img src="img/07_sweet/sweet_sundae.jpg" alt=""/></div>
              <div class="col-sm">
                <div class="intro">水果聖代</div>
                <div class="min">使用日本各地最新鮮、頂級水果製成的水果聖代。來細細品嚐新鮮當季水果吧！</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm"><img src="img/07_sweet/sweet_pancake.jpg" alt=""/></div>
              <div class="col-sm">
                <div class="intro">鬆餅</div>
                <div class="min">颳起一陣 旋風的鬆餅。推薦在夏威夷熱門鬆餅店品嘗比較各式各樣的鬆餅。有景點還推出熊貓鬆餅哦！</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm"><img src="img/07_sweet/sweet_cake.jpg" alt=""/></div>
              <div class="col-sm">
                <div class="intro">蛋糕</div>
                <div class="min">東京的蛋糕店為數眾多。發明草莓鮮奶油蛋糕的Colombin亦位於東京都內。</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section7">
        <h2 class="title">日本情懷-鄉土料理</h2>
        <div class="subtitle">在此為您介紹江戶前壽司、蕎麥麵、東京的下町美食，以及能夠感受到江戶歷史的特產。</div>
        <div class="row" v-for="trad in trads">
          <div class="img_area">
            <div class="trad swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img :src="trad.img_swiper_1" alt=""/></div>
                <div class="swiper-slide"><img :src="trad.img_swiper_2" alt=""/></div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="text_area">
            <div class="text" :style="'background-image:url('+trad.img_deco+')'"><img class="title" :src="trad.img_name" alt=""/>
              <div class="line"> </div>
              <div class="intro">{{trad.intro}}</div><a class="btn" :href="trad.shop_href" target="_blank"><span>{{trad.shop}}</span><img src="img/06_trad_cuisine/arrow_grey.png" alt=""/></a>
            </div>
          </div>
        </div>
      </section>
      <section class="section8">
        <h2 class="title">親身體驗，發現東京魅力</h2>
        <div class="subtitle">東京有許多能夠參觀、製作並玩樂的體驗型景點，您可接觸到充滿江戶韻味的傳統工藝世界。</div>
        <div class="container">
          <div class="full" v-for="event in events">
            <div class="text_area">
              <div class="subtitle" data-aos="fade-up">{{event.name}}</div>
              <div class="subtitle_eng" data-aos="fade-up">{{event.eng}}</div>
              <div class="intro" data-aos="fade-up" data-aos-delay="200">{{event.intro_1}}</div>
              <div class="intro" data-aos="fade-up" data-aos-delay="200">{{event.intro_2}}</div>
            </div>
            <div class="img_area"><img :src="event.img_src" alt="" data-aos="fade-left-up"/></div>
          </div>
        </div>
      </section>
      <footer>
        <div class="container">
          <div class="icon"><img src="img/facebook.svg" alt=""/><img src="img/twitter.svg" alt=""/></div>
          <div class="copyright">Copyright © 2012 JPTOURISM Inc. All rights reserved</div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>