<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        title JPTOURISM-東京觀光網
        link(rel="shortcut icon", href="favicon.ico")
        link(rel="bookmark", href="favicon.ico")
        link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/rwd.css")
    body
        #vue_all
            nav.nav
                .container
                    a.logo(href="")
                        span JP
                        | TOURISM
                    btn.toggle
                        .bar.bar1
                        .bar.bar2
                        .bar.bar3
                    ul
                        li
                            a.attractions(href="")
                                span 東京
                                | 趣事
                            .dash_line
                        li
                            a.food(href="")
                                span 東京
                                | 美食
                            .dash_line
                        li
                            a.events(href="")
                                span 東京
                                | 魅力
                            .dash_line
            .nav_phone
                ul
                    li
                        a.attractions(href="")
                            span 東京
                            | 趣事
                        .dash_line
                    li
                        a.food(href="")
                            span 東京
                            | 美食
                        .dash_line
                    li
                        a.events(href="")
                            span 東京
                            | 魅力
                        .dash_line
            section.home
                .container
                    .home_title_block
                        img.title_img(src="img/00_home/home_title.png", alt="")
                        img.slogn_img(src="img/00_home/home_slogn.png", alt="")
                        img.subtitle_img(src="img/00_home/home_subtitle.png", alt="")
                    a.btn(href="")
                        span 開始旅行
                    img.arrow_down(src="img/00_home/arrow.png", alt="")         
            
            section.section2
                h2.title 節慶祭典
                .subtitle 為您介紹東京都內舉辦的幾個大型祭典，
                    br
                    | 還在安排時間的您不妨參考。
                .container
                    .timeline
                    .row(v-for="item in fes")  
                        .col(data-aos="fade-up")
                            h3.subtitle {{ item.name}}
                            h5.date {{ item.date }}
                            p.intro {{item.intro}}
                        .col(data-aos="fade-up")
                            .cover
                                img(:src=" item.img_src ", alt="")

                img.bottom(src="img/09-deco/fujiyama.svg", alt="")
                img.phone(src="img/09-deco/fujiyama-2.png", alt="")
            section.section3
                h2.title 橫丁商圈
                p.subtitle 讓我們一同前往小巷盡頭的另一個世界——萬眾矚目的橫丁吧！
                .container
                    .card(v-for="yoko in yokos")
                        .cover
                            .img(:style="'background-image:url(' + yoko.img_src + ')'")
                        
                        .text_area
                            .intro {{ yoko.intro }}
                        .subtitle {{ yoko.name }}

            section_2.section3_2
                h2.title 橫丁商圈
                p.subtitle 讓我們一同前往小巷盡頭的另一個世界
                    br
                    | 萬眾矚目的橫丁吧！
                .container
                    #yoko.swiper-container
                        .swiper-wrapper
                            .swiper-slide(v-for="yoko in yokos")
                                .card
                                    img(:src="yoko.img_src", alt="")
                                    .subtitle {{ yoko.name }}
                                    .intro {{ yoko.intro }}
                        
            section.section4
                h2.title 古蹟巡禮
                .subtitle 難得來到東京一趟，您絕對不能錯過這些名勝古蹟！
                #history1.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img.bg.bg1(src="img/04_history/history1.jpg", alt="")
                            .text_area
                                .subtitle 淺草雷門
                                .intro  942年由平公雅創建，據說是在鎌倉時代後，才開始供奉風神和雷神的。
                                        br 
                                        | 聽說當時是為了保護寺院免受颱風、洪水、火災的危害，而把他們作為護法善神。後來，人們逐漸開始向他們祈求保佑風調雨順、天下太平以及五穀豐收。                      
                        .swiper-slide
                            img.bg.bg2(src="img/04_history/history2.jpg", alt="")
                            .text_area
                                .subtitle 靖國神社
                                .intro 建於1869年，此神社祭祀著從幕府末期到大東亞戰爭期間陣亡的246萬6千多位亡靈。 在神社境內的遊就館裡，展示有英靈遺物及相關歷史資料等。
                                        br
                                        | 神社境內種有約500株櫻花樹，吸引了眾多參拜者。                           
                        .swiper-slide
                            img.bg.bg3(src="img/04_history/history3.jpg", alt="")
                            .text_area
                                .subtitle 淺草寺
                                .intro 創建於628年，是東京都內最古老的寺院。現世利益的「淺草觀音」為眾多信徒所信仰，每年有來自國內外約3000萬人到此參拜。
                        .swiper-slide
                            img.bg.bg4(src="img/04_history/history4.jpg", alt="")
                            .text_area
                                .subtitle 明治神宮
                                .intro  為悼念明治天皇與昭憲皇太后，於1920年創建的神社。在東京都心擴展開來的神宮森林，是在創建時由全國所進獻的約10萬株樹木組成，是一處人工樹林。
                                        br 
                                        | 每年初次參拜的人數為日本首位。
                    
                    .swiper-pagination.swiper-pagination-white
                    .swiper-button-next.swiper-button-white
                    .swiper-button-prev.swiper-button-white


            section.section4_2
                h2.title 古蹟巡禮
                .subtitle 難得來到東京一趟，您絕對不能錯過這些名勝古蹟！
                #history2.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .card
                                img.bg.bg1(src="img/04_history/history1.jpg", alt="")
                                .text_area
                                    .subtitle 淺草雷門
                                    .intro  942年由平公雅創建，據說是在鎌倉時代後，才開始供奉風神和雷神的。
                                            br 
                                            | 聽說當時是為了保護寺院免受颱風、洪水、火災的危害，而把他們作為護法善神。後來，人們逐漸開始向他們祈求保佑風調雨順、天下太平以及五穀豐收。                      
                        .swiper-slide
                            .card
                                img.bg.bg2(src="img/04_history/history2.jpg", alt="")
                                .text_area
                                    .subtitle 靖國神社
                                    .intro 建於1869年，此神社祭祀著從幕府末期到大東亞戰爭期間陣亡的246萬6千多位亡靈。 在神社境內的遊就館裡，展示有英靈遺物及相關歷史資料等。
                                            br
                                            | 神社境內種有約500株櫻花樹，吸引了眾多參拜者。                           
                        .swiper-slide
                            .card
                                img.bg.bg3(src="img/04_history/history3.jpg", alt="")
                                .text_area
                                    .subtitle 淺草寺
                                    .intro 創建於628年，是東京都內最古老的寺院。現世利益的「淺草觀音」為眾多信徒所信仰，每年有來自國內外約3000萬人到此參拜。
                        .swiper-slide
                            .card
                                img.bg.bg4(src="img/04_history/history4.jpg", alt="")
                                .text_area
                                    .subtitle 明治神宮
                                    .intro  為悼念明治天皇與昭憲皇太后，於1920年創建的神社。在東京都心擴展開來的神宮森林，是在創建時由全國所進獻的約10萬株樹木組成，是一處人工樹林。
                                            br 
                                            | 每年初次參拜的人數為日本首位。

            section.section5
                h2.title 日本必吃-拉麵比拚
                .subtitle 東京拉麵一般按照味道或店名來分類。將為您介紹東京都內三大特色拉麵聚集地!!
                .container
                    .card(v-for="ramen in ramens",data-aos="flip-left",data-aos-duration="800")
                        img.img(:src="ramen.img_src", alt="")
                        .subtitle {{ramen.name}}
                        .intro {{ramen.intro}}
                        a.btn(:href="ramen.shop_href",target="_blank")
                            span {{ramen.shop}}
                            img(src="img/05_ramen/ramen_shop_arrow.png", alt="")
                img.bottom(src="img/09-deco/city.svg", alt="")
            section.section6
                h2.title 洋和菓子-甜點對決
                .subtitle 老字號的傳統和菓子以及世界級的洋菓子，東京獨家美味甜點任君挑選。
                .container
                    .col-xl 
                        .row.name
                            .col-sm
                                .subtitle 和菓子
                        .row
                            .col-sm
                                img(src="img/07_sweet/sweet_ninkyo.jpg", alt="")
                            .col-sm
                                .intro 人形燒
                                .min 內包紅豆餡烤成的雞蛋糕，造型從文樂人形到七福神等傳統形狀到卡通人物，五花八門，不勝枚舉。
                        .row
                            .col-sm
                                img(src="img/07_sweet/sweet_anmitsu.jpg", alt="")
                            .col-sm
                                .intro 餡蜜
                                .min 蜜豆疊上紅豆餡一起食用，發源於東京的和菓子。冰涼享用，一股清涼感覺，超級熱銷的消暑聖品。
                        .row
                            .col-sm
                                img(src="img/07_sweet/sweet_daifuku.jpg", alt="")
                            .col-sm
                                .intro 大福
                                .min 將紅豆等內餡包在麻糬裡。口味種類相當多樣豐富，有的麵糰加入艾草，有的在內餡裡面放草莓。
                        .row
                            .col-sm.img
                                img(src="img/07_sweet/sweet_yokan.jpg", alt="")
                            .col-sm
                                .intro 羊羹
                                .min 羊羹為一種將紅豆餡用寒天凝固的點心，柔軟可口的水羊羹在夏天冰冰的吃，是熱門的消暑聖品。
                    .col-xl
                        .row.name
                            .col-sm
                                .subtitle 洋菓子
                        .row
                            .col-sm
                                img(src="img/07_sweet/sweet_donut.jpg", alt="")
                            .col-sm
                                .intro 甜甜圈
                                .min 在東京能一次品嚐世界熱門甜甜圈店。還有最近相當受歡迎的夏威夷式炸甜甜圈的專賣店。
                        .row
                            .col-sm
                                img(src="img/07_sweet/sweet_sundae.jpg", alt="")
                            .col-sm
                                .intro 水果聖代
                                .min 使用日本各地最新鮮、頂級水果製成的水果聖代。來細細品嚐新鮮當季水果吧！
                        .row
                            .col-sm
                                img(src="img/07_sweet/sweet_pancake.jpg", alt="")
                            .col-sm
                                .intro 鬆餅
                                .min 颳起一陣 旋風的鬆餅。推薦在夏威夷熱門鬆餅店品嘗比較各式各樣的鬆餅。有景點還推出熊貓鬆餅哦！
                        .row
                            .col-sm
                                img(src="img/07_sweet/sweet_cake.jpg", alt="")
                            .col-sm
                                .intro 蛋糕
                                .min 東京的蛋糕店為數眾多。發明草莓鮮奶油蛋糕的Colombin亦位於東京都內。

                
            section.section7
                h2.title 日本情懷-鄉土料理
                .subtitle 在此為您介紹江戶前壽司、蕎麥麵、東京的下町美食，以及能夠感受到江戶歷史的特產。
                .row(v-for="trad in trads")
                    .img_area
                        .trad.swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    img(:src="trad.img_swiper_1", alt="")
                                .swiper-slide
                                    img(:src="trad.img_swiper_2", alt="")
                            .swiper-pagination
                    .text_area
                        .text(:style="'background-image:url('+trad.img_deco+')'")
                            img.title(:src="trad.img_name", alt="")
                            .line 
                            .intro {{trad.intro}}
                            a.btn(:href="trad.shop_href" target="_blank")
                                span {{trad.shop}}
                                img(src="img/06_trad_cuisine/arrow_grey.png", alt="")

            section.section8
                h2.title 親身體驗，發現東京魅力
                .subtitle 東京有許多能夠參觀、製作並玩樂的體驗型景點，您可接觸到充滿江戶韻味的傳統工藝世界。
                .container
                    .full(v-for="event in events")
                        .text_area
                            .subtitle(data-aos="fade-up") {{event.name}}
                            .subtitle_eng(data-aos="fade-up") {{event.eng}}
                            .intro(data-aos="fade-up",data-aos-delay="200") {{event.intro_1}}
                            .intro(data-aos="fade-up",data-aos-delay="200") {{event.intro_2}}
                        .img_area()
                            img(:src="event.img_src", alt="",data-aos="fade-left-up")
                            //- .deco(:style="'background-image:url('+event.img_deco+')'")
            footer
                .container
                    .icon
                        img(src="img/facebook.svg", alt="")
                        img(src="img/twitter.svg", alt="")
                    .copyright Copyright © 2012 JPTOURISM Inc. All rights reserved
        
        script(src="js/jquery-3.3.1.min.js")
        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script(src="https://unpkg.com/aos@next/dist/aos.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js")
        script(src="js/script.js")
        