body {
  background-color: rgb(34, 34, 34);
  color: #fff;
}
a {
  text-decoration: none;
  display: block;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.flex {
  display: flex;
  &-aic {
    align-items: center;
  }
  &-jcc {
    justify-content: center;
  }
  &-jcsb {
    justify-content: space-between;
  }
  &-fe {
    justify-content: flex-end;
  }
  &-warp {
    flex-wrap: wrap;
  }
}
.page {
  padding-top: 100px;
  &-home {
    background-size: cover;
    background-image: url('~@/assets/background/home.jpg');
    background-repeat: no-repeat;
  }
  &-shadow {
    box-shadow: 0 5px 10px #222;
  }
}

.card {
  box-sizing: border-box;
  padding: 20px 30px;
  width: 30%;
  margin: 10px calc(10% / 6);
  transition-duration: border 0.2s;
  transition-delay: border 0.3s;
  position: relative;
  border: 1px solid #23262a;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    transition: width 0.3s, height 0.3s;
  }
  &::before {
    top: 0;
    left: 0;
  }
  &::after {
    bottom: 0;
    right: 0;
  }
  &-title {
    color: #eee;
    transition: 0.3s;
    padding-bottom: 10px;
    font-size: 30px;
  }
  &-text {
    transition: 0.3s;
    line-height: 24px;
  }
  &:hover {
    border: 1px solid transparent;
    background: rgba(#000, 0.2);
    &::after,
    &::before {
      width: 95%;
      height: 90%;
    }
    &::before {
      top: 0;
      left: 0;
      border-left: 2px solid #4e6079;
      border-top: 2px solid #4e6079;
    }
    &::after {
      bottom: 0;
      right: 0;
      border-right: 1px solid #fbe57fbc;
      border-bottom: 1px solid #fbe57fbc;
    }
    .card-title {
      font-weight: bold;
      color: #198cd1;
    }
    .card-text {
      color: #fdf9f1;
    }
  }
  @media (max-width: 420px) {
    margin: 30px 20px;
    width: 100%;
    border: 2px solid #222c3a;
    border-radius: 5px;
  }
}
