body {
  background-color: rgb(34, 34, 34);
  color: #fff;
}
a {
  text-decoration: none;
  display: block;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.flex {
  display: flex;
  &-aic {
    align-items: center;
  }
  &-jcc {
    justify-content: center;
  }
  &-jcsb {
    justify-content: space-between;
  }
  &-fe {
    justify-content: flex-end;
  }
  &-warp {
    flex-wrap: wrap;
  }
}
.page {
  padding-top: 100px;
  &-home {
    background-size: cover;
    background-image: url('~@/assets/background/home.jpg');
    background-repeat: no-repeat;
  }
  &-shadow {
    box-shadow: 0 5px 10px #222;
  }
}

.card {
  box-sizing: border-box;
  padding: 0 10px;
  width: 30%;
  margin: 10px calc(10% / 6);
  &-img {
    display: block;
    height: 300px;
  }
  &-title {
    color: #eee;
    font-weight: bold;
    padding-bottom: 10px;
  }
}
